{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>He Sai Mali</title>
    <link rel="icon" type="image/png" href="{% static 'He_Sai_Mali/logo.png' %}">

    <!-- Bootstrap y Awesome Fonts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- styles.css -->
    <link rel="stylesheet" href="{% static 'He_Sai_Mali/css/styles.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Navbar superior -->
    <nav class="navbar bg-rojo px-3 py-3" style="border-bottom: 8px solid var(--secondary-color); box-shadow: 0 6px 10px black;">
        <div class="container-fluid justify-content-start align-items-center">
            <img src="{% static 'He_Sai_Mali/logo.png' %}" alt="Logo He Sai Mali" height="40">
            <a class="ps-2 text-accent fs-4 fw-bold" style="text-decoration: none;">He Sai Mali</a>
        </div>
    </nav>

    <!-- Sección de Bienvenida -->
    <div class="fondo-imagen d-flex flex-column justify-content-center align-items-center py-4" style="min-height: 70dvh; border-bottom: 3px solid var(--bg-gray);">
        <img src="{% static 'He_Sai_Mali/borde_bienvenida.png' %}" alt="Borde superior" class="mb-2">
        <h1>¡BIENVENIDO!</h1>
        <img src="{% static 'He_Sai_Mali/borde_bienvenida.png' %}" alt="Borde inferior" style="transform: rotate(180deg);" class="mb-4">
        
        <a href="{% static 'He_Sai_Mali/HE SAI MALI.pdf' %}" target="_blank" class="btn-menu">MENÚ</a>  
    </div>

    <!-- Sección de Contacto e Información -->
    <div class="container my-4">
        <div class="row gy-3 text-accent justify-content-center text-center text-md-start">
            <!-- Columna direccion -->
            <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                <span><i class="fa-solid fa-location-dot me-2 fs-5"></i></span>
                <span class="small">Cd. Sandino - Pinar del río 30 metros abajo frente a super express zona #4</span>
            </div>
            <!-- Columna telefono -->
            <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-phone me-2"></i>
                <span>(505) 8559 7764</span>
            </div>
            <!-- Columna contacto -->
            <div class="col-12 col-md-4 d-flex align-items-center justify-content-center gap-3">
                <a href="https://www.facebook.com/people/H%C3%AA-s%C3%A3%C3%AE-m%C3%A3l%C3%AE/100075950454030/" target="_blank">
                    <i class="fa-brands fa-facebook fs-4 text-accent"></i>
                </a>
                <a href="https://wa.me/50585597764" target="_blank">
                    <i class="fa-brands fa-whatsapp fs-3 text-accent"></i>
                </a>
            </div>
        </div>
    </div>
    
    <!-- Seccion de footer -->
    <footer class="d-flex justify-content-center align-items-center py-2 mt-auto mb-2 bg-gris text-accent">
        <a href="{% url 'login' %}" class="me-4">Acceso</a>
        <p class="mb-0">2026 He Sai Mali</p>
    </footer>

</body>
</html>